header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 2px solid rgb(243, 245, 245);
    box-shadow: 0 0 15px rgba(214, 214, 214, 0.4);
    height: 110px;
}

.logo {
  font-size: 36px;
  font-weight: 700;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: 0.3s;
}

nav a:hover {
    color: rgb(233, 233, 233);
}

.cart {
  font-size: 20px;
}

.btn {
  padding: 6px 14px;
  border-radius: 8px;
    border: none;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}

.botonLigin {
    width: 93px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    transition: 0.3s;
    background: rgb(255, 255, 255);
    color: black;
    border: none;
}

.botonLigin:hover {
    background: #cfcfcf;
}

.juegos {
    padding: 6px 18px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: none;
}

.juegos:hover {
    background: #cfcfcf;
}

.comunidad{
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}


.Soporte{
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.explorar{
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

a{
    text-decoration: none;
    color: white;
}

input[type="checkbox"] {
  margin-right: 6px;
}

.search-box {
  flex: 0.8;
  display: flex;
  border: 1px solid #c7c4c4;
  border-radius: 20px;
  padding: 6px 12px;
  align-items: center;
  box-shadow: 0 0 15px rgba(214, 214, 214, 0.4);
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #0d0d0d;
}
